#footer
    div(class="left",id="footer-left")
        img(src="images/logo-small.gif",alt="",class="left")
        p &copy; 2002-2009 Simple Organization. All rights Reserved
        p(class="quiet")
            a(href="http://www.cssmoban.com/") Website template from 
            a(href="http://cssmoban.com/") cssMoban.com
        div(class="clearer") &nbsp;
    div(class="right",id="footer-right")
        p(class="large")
            a(href="#") Blog
            span(class="text-separator") |
            a(href="#") Events
            span(class="text-separator") |
            a(href="#") About
            span(class="text-separator") |
            a(href="#") Archives
            span(class="text-separator") |
            strong
                a(href="#") Join Us!
            span(class="text-separator") |
            a(href="#top",class="quiet") Page Top &uarr;
    div(class="clearer") &nbsp;

