doctype html
html
	head
		title 博客
		link(rel="stylesheet",type="text/css",href="/stylesheets/style.css",media="screen")
		meta(content="text/html;charset=UTF-8")
		meta(name="description",content="")
		meta(name="keywords",content="")
		meta(name="author",content="")
	body
		block content
