extends ../layout

block content
  .sidebar
    block main
      .container
        div(class="row")
          div(class="col-sm") One of three columns
          div(class="col-sm") One of three columns
          div(class="col-sm" ) One of three columns
  
